.clock {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 28px;
  font-style: normal;
  text-align: center;
}

h2 {
  font-size: 20px;
}
